body {
    background-image: url('back1.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.login-form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    position: absolute;
    color: rgb(12, 168, 129);
}
.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin:40px 0;
}
.login-form p{
    font-size: 20px;
    margin: 20px 0;
}
.login-form input{
    font-size: 16px;
    width:100% ;
    padding:15px 10px  ;
    border:0 ;
    outline: none;
    border-radius: 5px;
    cursor: text;
}

.login-form button{
    font-size: 18px;
    color:white;
    background-color: green;

    font-weight: bold;
    margin: 40px 0;
    padding: 10px 15px;
    width:40% ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

p .para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
    
}

p .para-2,a{
    color: #edf7f4;
    text-decoration: none; 
}
.signup a{
    text-decoration: none; 
}